<div class="login-page">

  <div class="flip-container" >
    <div class="flip-wrapper">
      <div class="flip-box back glass-container">
        <div class="register-box">
            <app-error-banner></app-error-banner>
          <div class="logo-section">
            <div class="icon-circle">💰</div>
            <h1>Finance<span>Flow</span></h1>
            <p>Your futuristic wealth tracker</p>
          </div>

          @if (showPasswordResetSuccess()) {
            
          <div class="registration verify-email">
              <h2>Password Reset Successful</h2>
              <p>
                Your password has been reset successfully.
              </p>
              <p> <span>You can now</span> <span [routerLink]="'../../login'">Log In</span></p> 
          </div>
          }
          @else{
            <div class="registration form">
            <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit(passwordResetForm)">

              <div class="input-group">
                <input
                  [type]=" this.showPassword() ? 'text' : 'password'"
                  name="password"
                  placeholder="Password"
                  required
                  minlength="8"
                  [(ngModel)]="resetPasswordData.password"
                  #rstPassword="ngModel"
                />
                <span class="icon-eye"> <svg [size]="18" [lucideIcon]="passwordEyeIcon()" (click)="showPassword.set(!this.showPassword())"> </svg> </span>
  
                @if (rstPassword.invalid && rstPassword.touched) {
                  <div class="error-msg">
                    @if (rstPassword.errors?.['required']) {
                      <span>Password is required.</span>
                    }
                    @if (rstPassword.errors?.['minlength']) {
                      <span>Password must be at least 8 characters.</span>
                    }
                  </div>
                }
              </div>

              <div class="input-group">
                <input
                  [type]=" this.showConfirmPassword() ? 'text' : 'password'"
                  name="passwordConfirm"
                  placeholder="Confirm Password"
                  required
                  [(ngModel)]="resetPasswordData.passwordConfirm"
                  #passwordConfirm="ngModel"
                />
                <span class="icon-eye"> <svg [size]="18" [lucideIcon]="passwordConfirmEyeIcon()" (click)="showConfirmPassword.set(!this.showConfirmPassword())"> </svg> </span>

                @if (passwordConfirm.invalid && passwordConfirm.touched) {
                  <div class="error-msg">
                    <span>Confirm password is required.</span>
                  </div>
                }
                @if (
                  resetPasswordData.passwordConfirm !== resetPasswordData.password && passwordConfirm.touched
                ) {
                  <div class="error-msg">
                    <span>Passwords do not match.</span>
                  </div>
                }
              </div>

              <button type="submit" class="login-btn" [disabled]="passwordResetForm.invalid" [buttonLoader]="resetPasswordLoader()">
                Reset Password
              </button>
            </form>

            <div class="footer-links signin-link">
              <label  class="" [routerLink]="'../../login'">Already have an account? Sign In</label>
            </div>
          </div>
          }
  
        </div>
      </div>
    </div>
  </div>

  <!-- Background Decorations -->
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
</div>
