<!-- <div class="widget-card-wrapper" [skeletonLoader]="this.widgetCardLoader()"> -->
<div class="widget-card-content" [skeletonLoader]="this.widgetCardLoader">
    <section class="card-header section ">
        <div class="head wrapper">
            <div class="card-title skeleton-loader">
                <h3>{{ widgetDetails.title }}</h3>
            </div>
            <div class="card-note skeleton-loader">
                <!-- @for(note of this.widgetData().note || []; track $index){ -->
                <div class="note-content">
                    <label for="card-note" class="note-value">
                    </label>
                    <label for="card-note" class="note-description">{{ widgetDetails.description }}</label>
                </div>
                <!-- } -->
            </div>
        </div>
    </section>
    <section class="card-body section">
        <div class="body wrapper">
            <div class="value skeleton-loader" #widgetContainer >
                <app-widget [widgetOptions]="widgetOptions" [height]="chartHeight()+'px'"></app-widget>
            </div>
        </div>
    </section>
    <section class="card-footer section"></section>
</div>